---
import ProfilePicture from '@/assets/avatar.png'
import ArticleList from '@/components/ui/ArticleList.astro'
import Hero from '@/components/ui/Hero.astro'
import { posts } from '@/data/about'
import { profile } from '@/settings'
import { getCollection } from 'astro:content'

import Layout from '../layouts/Layout.astro'

const { fullName, title, company, information, titleReference, companyReference } = profile
const isBlogPopulated = await getCollection('blog').then(collection => collection.length > 0)
---

<Layout>
  <!-- Hero Section -->
  <section class="flex items-center gap-12 border-b pb-12">
    <Hero
      fullName={fullName}
      title={title}
      company={company}
      profilePicture={ProfilePicture}
      information={information[0].description}
      titleReference={titleReference}
      companyReference={companyReference}
    />
  </section>

  <!-- Blogs -->
  {isBlogPopulated && (
    <section class="py-12">
      <ArticleList listTitle="Recent Posts" listItems={posts} />
    </section>
  )}
</Layout>
